:root {
  --first-color: rgb(0, 191, 178);
  --first-alpha-color: rgba(0, 189, 176, 0.50);

  --second-color: rgb(26, 83, 99);
  --second-alpha-color: rgba(26, 83, 99, 0.75);
  
  --third-color: rgb(2, 128, 144);
  --third-alpha-color: rgba(2, 128, 144, 0.75);

  --link-color: rgb(240, 243, 189);
  --link-alpha-color: rgb(240, 243, 189, 0.75);

  --bg-color: rgb(198, 65, 145);
  --bg-alpha-color: rgb(198, 65, 145, 0.75);
}


/* RESETEO */
body {
  font-family: 'Montserrat', sans-serif;
}

a {
  color: var(--link-color);
  transition: all .3s ease-out;
}

a:hover {
  color: var(--first-color);
  transition: all .3s ease-out;
}
/* Boostrap Syles */
.navbar-brand img {
  height: 3.5rem;
  width: auto;
}

.dropdown-item {
  color: var(--first-alpha-color);
  font-weight: bold;
}
.dropdown-item:hover {
  color: var(--third-alpha-color);
  font-weight: bold;
}

.bg-dark {
  background-color: var(--second-color) !important;
}

.nav-item {
  width: auto;
  height: 3rem;
}
.nav-item:hover{
  background-color: var(--first-color);
}

.nav-link {
  color: var(--first-color);
  font-size: 1.15rem;
  font-weight: bold;
  margin-left: .5rem;

}

.nav-link:hover {
  color: var(--bs-white)
}

.navbar-toggle:focus {
  border-radius: 0;
}


.login .container input:focus, 
.login .container select:focus,
.login .container textarea:focus {
  border: #00bfb2cf;
  box-shadow: 0 0 0 0.25rem var(--first-alpha-color);
}
 
.container button {
  background-color: var(--first-color) ;
  border: var(--first-color);
}

.container button:hover {
  background-color: #00bfb2cf ;
  border: #00bfb2cf;
}

.container button:focus {
  background-color: #00bfb2cf ;
  border: #00bfb2cf;
  box-shadow: 0 0 0 0.25rem var(--first-alpha-color);
}


/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
  
 }

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
  
 }

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
  .nav-item:hover{
    background-color: transparent;
  }
 }

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
  
 }

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { 
  
 }