:root {
  --first-color: rgb(0, 191, 178);
  --first-alpha-color: rgba(0, 189, 176, 0.50);

  --second-color: rgb(26, 83, 99);
  --second-alpha-color: rgba(26, 83, 99, 0.75);

  --third-color: rgb(2, 128, 144);
  --third-alpha-color: rgba(2, 128, 144, 0.50);

  --link-color: rgb(240, 243, 189);
  --link-alpha-color: rgb(240, 243, 189, 0.75);

  --suplement-color: rgb(198, 65, 145);
  --suplement-alpha-color: rgba(198, 65, 145, 0.50);
}

body {
  font-family: 'Montserrat', sans-serif;
}

a {
  color: var(--link-color);
  transition: all .3s ease-out;
}

a:hover {
  color: var(--first-color);
  transition: all .3s ease-out;
}
/* Form Auth style */
.bg-white{
  height: 3rem ;
}

.bg-white:focus{
  border: #00bfb2cf;
  box-shadow: 0 0 0 0.2rem var(--first-alpha-color);
}

form button:disabled {
  height: 3rem ;
  background-color: var(--first-alpha-color) !important;
}

form button:active {
  background-color: var(--third-color) !important;
  border: var(--third-color);
  box-shadow: 0 0 0 0.2rem var(--third-alpha-color) !important;
}

/* Form Post Style */
.needs-validation input:focus, 
.needs-validation select:focus,
.needs-validation textarea:focus {
  border: #00bfb2cf;
  box-shadow: 0 0 0 0.2rem var(--first-alpha-color);
}

.unvalidated {
  color: var(--suplement-color);
  width: 100%;
  margin-top: 0.25rem;
  font-size: 0.9em;
  font-weight: 600;
}

.form-unvalidated {
  border: var(--suplement-color);
  box-shadow: 0 0 0 0.2rem var(--suplement-color);
}

.checkbox:checked {
  background-color: var(--first-color) !important;
  border-color: transparent;
}

/* Buttons */
.btn-auth,
.btn-form,
.load-reports {
  background-color: var(--first-color);
  border-color: transparent;
}
.btn-auth:hover,
.load-reports:hover,
.btn-form:hover {
  background-color: var(--first-color);
  border-color: transparent;
}

.btn-auth:focus,
.load-reports:focus,
.btn-form:focus {
  background-color: var(--first-color);
  border: transparent;
  ;
}

.btn-auth:disabled,
.btn-form:disabled{
  border-color: transparent;
}

.load-reports:active {
  background-color: var(--third-color) !important;
  box-shadow: 0 0 0 0.2rem var(--third-alpha-color);
}

.delete-btn {
  background-color: rgb(255, 76, 76) ;
  border: transparent;
}

.delete-btn:hover {
  background-color: rgb(253, 48, 48) ;
  border: transparent;
}

.delete-btn:active {
  background-color: rgb(253, 48, 48) !important;
  box-shadow: 0 0 0 0.2rem rgba(255, 76, 76, 0.698);
}

/* links */
.link-main {
  color: var(--second-alpha-color);
}

.link-main:hover {
  color: var(--third-alpha-color);
}

.link-main:focus {
  color: var(--third-alpha-color);
}

.link-main:active {
  color: var(--first-color);
}


/* captions */
.form-unvalidated:focus {
  border: var(--suplement-color);
  box-shadow: 0 0 0 0.2rem var(--suplement-alpha-color);
}

/* data cards */
.data-card:hover {
  box-shadow: 2px 4px 10px gray;
  border-color: black ;
  border-width: 2px;
}

/* messasges */

.message-status-ok {
  background-color: rgba(84, 255, 173, 0.864) !important;
  color: white;
}

.message-status-error {
  background-color: rgb(255, 76, 76) !important;
  color: white;
}

/* Modal */
.ReactModalPortal > div{
  opacity: 0;
}

.ReactModalPortal .ReactModal__Overlay {
  align-items: center;
  display: flex;
  justify-content: center;
  transition: opacity .2s ease-in-out;
  z-index: 999;
}

.modal-fondo {
  background-color: rgba(0, 0, 0, 0.603);
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  position: fixed;
}

.ReactModalPortal .ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModalPortal .ReactModal__Overlay--before-close {
  opacity: 0;
}

.modal {
  height: 60%;
  background: white;
  border-radius: 5px;
  color: rgb(51, 51, 51);
  display: inline;
  max-height: 700px;
  max-width: 460px;
  outline: none;
  padding: 1.5rem;
  overflow: auto;
  word-break: break-all;
}




.modal-3 {
  height: 10rem;
}

.navbar-brand img {
  height: 3.5rem;
  width: auto;
}

.dropdown-item {
  color: var(--first-alpha-color);
  font-weight: bold;
}
.dropdown-item:hover {
  color: var(--third-alpha-color);
  font-weight: bold;
}

.bg-dark {
  background-color: var(--second-color) !important;
}

.nav-item {
  width: auto;
  height: 3rem;
}
.nav-item:hover{
  background-color: var(--first-color);
}

.nav-link {
  color: var(--first-color);
  font-size: 1.15rem;
  font-weight: bold;
  margin-left: .5rem;

}

.nav-link:hover {
  color: var(--bs-white)
}

.navbar-toggle:focus {
  border-radius: 0;
}


.login .container input:focus, 
.login .container select:focus,
.login .container textarea:focus {
  border: #00bfb2cf;
  box-shadow: 0 0 0 0.25rem var(--first-alpha-color);
}
 


/* Scroll bar */

.vertical-scroll::-webkit-scrollbar {
  width: 0em;
  height: 0em;
}

.vertical-scroll:hover::-webkit-scrollbar {
  width: 0em;
  height: 0em;
}

.vertical-scroll::-webkit-scrollbar-track {
  border-radius: 100vw;
  margin-block: 0.2em;
}

.vertical-scroll::-webkit-scrollbar-thumb {
  background: white;
  border: 0.2em solid white;
  border-radius: 100vw;
}

.vertical-scroll:hover::-webkit-scrollbar-thumb {
  background: var(--first-color);
  border: 0.2em solid var(--first-color);
  border-radius: 100vw;
}


/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
   
 }

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
  
 }

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
  .nav-item:hover{
    background-color: transparent;
  }

 }

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
  
 }

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { 

 }